@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
    background-repeat: no-repeat;
}

label {
    font-size: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.fieldset-right {
    text-align: justify;
    border-color: rgba(10, 180, 180, 1);
}

.writingInputs {
    border: none;
}
.container {

    background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}


.students-info {
    width: 45%;
    display: grid;
    background: rgba(20, 20, 20, .8);
    padding: 30px 0;
    border-right: 5px solid rgba(30, 30, 30, .8);
    text-align: left;
    
    h2 {
        margin: 0;
        font-weight: 300;
    }

    .students-item {
        justify-self: left;

        .button {
            position: relative;
            left: 14px;
            top: -17px;
            padding: 5px 30px;
            font-size: 10px;
            margin-left: 2px;
        }
    }

    .students-list {
        margin-top: 20px;
        width: 100%;
        justify-self: left;
        font-size: 10px;
        display: flex;
        overflow-y: scroll;
        gap: 10px;
        flex-wrap: wrap;

        &::-webkit-scrollbar {
            display: none;
        }

        .students-item {
            width: 48%;
            border: 1px solid rgb(10, 180, 180);

            ul {
                padding-left: 20px;
            }
        }
    }
}


#contacts {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 55%;
    padding: 23px 0;
    background: rgba(20, 40, 40, .8);
    transition: .2s;

    h2 {
        font-weight: 300;
    }

    .error {
        position: absolute;
        bottom: 40px;
        left: 470px;
        font-size: 10px;

    }
}

.inputFields {
    margin: 10px 10px;
    font-size: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
}

.inputs-container {
    display: flex;
    justify-content: space-around;
}

.button {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        background: rgba(20, 20, 20, .8);
        padding: 10px 80px;
    }
}